Source: mousetrap
Section: admin
Priority: optional
Maintainer: Mikey Austin <mikey@jackiemclean.net>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.8)
Standards-Version: 3.9.2
Homepage: http://jackiemclean.net

Package: mousetrap
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, adduser, libyaml-libyaml-perl
Description: Log monitoring and active response daemon
 This program monitors multiple file sources as specified in the configuration
 file and executes arbitrary actions based on the frequency of observer "events".
